.text-left{
    text-align: left;
}
.d-flex{
    display: flex;
}
.jus-between{
    justify-content: space-between;
}
.m-b{
    margin-bottom: 20px;
}
.eduction{
    flex-basis: 100%;
    margin-bottom: 20px;
}